<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>run</string>
    <key>CFBundleIdentifier</key>
    <string>com.clipper.worker</string>
    <key>CFBundleName</key>
    <string>ClipperWorker</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>Clipper Worker</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>clipperworker</string>
            </array>
        </dict>
    </array>
    <key>LSBackgroundOnly</key>
    <false/>
</dict>
</plist>
